.container
  h1 BitPapes
  h2 Open source paper wallet generator
  .instructions
    p Move your mouse
    .progress 0%
  .keys
    .private
      span Private Key
      .key
      img(class="privateImg")
    .public
      span Address
      .address
      img(class="publicImg")
  .footer
    | Made with
    .keyboards
      .keyboard.icon
    |by Mr Spookers
    a(href="https://github.com/Rabrennie/BitPapes") Source
    a(href="https://github.com/Rabrennie/BitPapes/archive/v.1.0.0.zip" download="") Download Zip
